<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ADJECTIVE1. ADJECTIVE2. ADJECTIVE3.</h2>
                <hr class="light">
                <p class="text-faded">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially unchanged.</p>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-lg-offset-1">
                            <a href="/curriculum" class="btn btn-default btn-xl">Check out my CV</a>
                        </div>
                        <div class="col-lg-1 col-lg-offset-1">
                            <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Check out my Portfolio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
