<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RESEARCHER. INVENTOR. AUTHOR.</h2>
                <hr class="light">
                <p class="text-faded">Dr Orestis Georgiou is an author of 5 patents and 80 academic papers 
                    published in leading journals and conferences of Mathematics, Physics, Computer Science, 
                    Engineering and Medicine. As a Director of Research at Ultraleap he oversees all internal 
                    and external R&D activities and aligns them to the business needs and roadmaps. Through this 
                    role, Orestis has secured R&D grant funding in excess of €6 million including the two FET 
                    Open projects Levitate and H-Reality which he currently manages and contributes to. An avid 
                    networker, Orestis has built 80+ partnerships with leading academic and industrial research 
                    labs all around the world.</p>
                <a href="#curriculum" class="btn btn-default btn-xl">Check out my CV</a>
            </div>
        </div>
    </div>
</section>
